# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App Bundle (kann separat als Release bereitgestellt werden)
*.app/

# Swift Package Manager
.build/
Packages/
Package.resolved
